.ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .ant-row-rtl .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
  }
  .site-page-header {
    border: 1px solid rgb(235, 237, 240);
  }
  .site-page-header-ghost-wrapper {
    background-color: #f5f5f5;
    padding: 24px;
  }